* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  height: 8vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  z-index: +1;
}

.color-picker,
.mode-selector,
.get-scheme-btn {
  height: 6vh;
}

.color-picker {
  width: 5vw;
}

.mode-selector,
.get-scheme-btn {
  background-color: white;
  border: 1px solid darkgrey;
  border-style: outset;
  border-radius: 6px;
  font-family: "Urbanist", sans-serif;
  font-size: 1.4rem;
}

.mode-selector {
  width: 30vw;
  padding: 5px 10px;
}

.get-scheme-btn {
  width: 15vw;
}

.color-scheme {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 95vw;
  height: 70vh;
}

.c-1 {
  width: 95vw;
  border: transparent;
  border-radius: 30px;
}
